<div class="text-center main-widget">
	<h1>
		{{tagline}}
	</h1>

	<div ng-show="addModal" class="modal-outer">
		<div class="modal-inner">
			<div class="modal-header">
				Add Game
			</div>
			<div class="modal-body">
				<div class="row">
					<b class="col-sm-3">Player One&nbsp;</b>
					<div class="col-sm-3">
						<select class="form-control" ng-model="playerOne">
							<option value=''></option>
							<option ng-repeat="player in players" value='{{player.email}}'>{{player.name}}</option>
						</select>
					</div>
					<b class="col-sm-3">Player Two&nbsp;</b>
					<div class="col-sm-3">
						<select class="form-control" ng-model="playerTwo">
							<option value=''></option>
							<option ng-repeat="player in players" value='{{player.email}}'>{{player.name}}</option>
						</select>
					</div>
				</div>
				<br/>
				<div class="row">
					<b class="col-sm-3">Player One Score:&nbsp;</b>
					<div class="col-sm-3">
						<input type="number" class="form-control" ng-model="playerOneScore" />
					</div>
					<b class="col-sm-3">Player Two Score:&nbsp;</b>
					<div class="col-sm-3">
						<input type="number" class="form-control" ng-model="playerTwoScore" />
					</div>
				</div>
				<div class="row">
					<b>OTL?:&nbsp;</b>
					<input type="checkbox" ng-model="otl"/>
				</div>
			</div>
			<div class="modal-footer">
				<button ng-click="addGameModalSubmit()" class="btn btn-primary">Submit</button>
				<button ng-click="addGameModalClose()" class="btn btn-default">Close</button>
			</div>
		</div>
	</div>

	<div ng-show="playerModal" class="modal-outer">
		<div class="modal-inner">
			<div class="modal-header">
				{{thisPlayer.name}}&nbsp;|&nbsp;&nbsp;{{thisPlayer.w}}-{{thisPlayer.l}}-{{thisPlayer.otl}}
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-5">
						<div style="margin-left:5px; padding:5px; background:#808080; display:inline-block;">
							<img style="border:1px solid #555; width:212px;" ng-if="!thisPlayer.photo" src="./../assets/images/silhouette.png">
						</div>
					</div>
					<div class="col-sm-7">
						<div class="row">
							<div class="col-sm-3">
								<label style="text-align:right">Wins:<label>
							</div>
							<div class="col-sm-9">
								<input type="text" readonly class="form-control" value="{{thisPlayer.w}}">
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-sm-3">
								<label style="text-align:right">Losses:<label>
							</div>
							<div class="col-sm-9">
								<input type="text" readonly class="form-control" value="{{thisPlayer.l}}">
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-sm-3">
								<label style="text-align:right">Overtime Losses:<label>
							</div>
							<div class="col-sm-9">
								<input type="text" readonly class="form-control" value="{{thisPlayer.otl}}">
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-sm-3">
								<label style="text-align:right">Points:<label>
							</div>
							<div class="col-sm-9">
								<input type="text" readonly class="form-control" value="{{thisPlayer.points}}">
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-sm-3">
								<label style="text-align:right">Games Played:<label>
							</div>
							<div class="col-sm-9">
								<input type="text" readonly class="form-control" value="{{thisPlayer.gp}}">
							</div>
						</div>

					</div>
				
				</div>
			</div>
			<div class="modal-footer">
				<button ng-if="user.isAdmin && user.isAdmin == true" ng-click="viewPlayerModalDelete(thisPlayer)" class="btn btn-default">Delete</button>
				<button ng-click="viewPlayerModalClose()" class="btn btn-default">Close</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-1"></div>
		<label class="col-sm-1">Search:</label>
		<div class="col-sm-8">
			<input class="form-control" ng-model="searchValues" />
		</div>
	</div>
	<br/>
	<div class="table-div">
		<table class="table table-head table-radius">
			<tr>
				<th class="text-cell" ng-click="sortType='email'; descending = !descending">
					Name
					<i ng-if="sortType=='email' && descending" class="fa fa-fw fa-caret-down"></i>
					<i ng-if="sortType=='email' && !descending" class="fa fa-fw fa-caret-up"></i>
				</th>
				<th class="number-cell" ng-click="sortType='gp'; descending = !descending">
					Games Played
					<i ng-if="sortType=='gp' && !descending" class="fa fa-fw fa-caret-down"></i>
					<i ng-if="sortType=='gp' && descending" class="fa fa-fw fa-caret-up"></i>
				</th>
				<th class="number-cell" ng-click="sortType='w'; descending = !descending">
					Wins
					<i ng-if="sortType=='w' && !descending" class="fa fa-fw fa-caret-down"></i>
					<i ng-if="sortType=='w' && descending" class="fa fa-fw fa-caret-up"></i>
				</th>
				<th class="number-cell" ng-click="sortType='l'; descending = !descending">
					Losses
					<i ng-if="sortType=='l' && !descending" class="fa fa-fw fa-caret-down"></i>
					<i ng-if="sortType=='l' && descending" class="fa fa-fw fa-caret-up"></i>
				</th>
				<th class="number-cell" ng-click="sortType='otl'; descending = !descending">
					Overtime Losses
					<i ng-if="sortType=='otl' && !descending" class="fa fa-fw fa-caret-down"></i>
					<i ng-if="sortType=='otl' && descending" class="fa fa-fw fa-caret-up"></i>
				</th>
				<th class="number-cell" ng-click="sortType='points'; descending = !descending">
					Points
					<i ng-if="sortType=='points' && !descending" class="fa fa-fw fa-caret-down"></i>
					<i ng-if="sortType=='points' && descending" class="fa fa-fw fa-caret-up"></i>
				</th>
			</tr>
		</table>
	</div>

	<div class="table-div-scrollable">
		<table class="table table-striped table-scrollable table-link">
			<tbody style="height:200px !important;overflow-y:scroll" class="table-body">
				<tr ng-repeat="player in players | orderBy: sortType:descending |filter: searchValues" ng-click=viewPlayerModalOpen(player)>
					<td class="text-cell">{{player.name}}</td>
					<td class="number-cell">{{player.gp}}</td>
					<td class="number-cell">{{player.w}}</td>
					<td class="number-cell">{{player.l}}</td>
					<td class="number-cell">{{player.otl}}</td>
					<td class="number-cell">{{player.points}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br/>
	<button ng-click="addModal=!addModal" class="pull-right btn btn-default" style="cursor:pointer"><i class="green fa fa-2x fa-fw fa-plus"></i></button>
</div>