html {
  position:relative;
  min-height:100%
}

.navigation-bar :hover {
  background-color:#aaaaaa
}

.main-widget {
  background-color:#ccc;
  height:560px;
  padding:20px;
  border-radius:0 !important;
  overflow-y:scroll;
}

.table-head {
  background-color: #000000;
  color: #e0e0e0;
}

.text-cell {
  width:20%
}

.number-cell {
  width:12%
}

.table-radius {
  border:#111 solid 2px;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
}

.table-div {
  background:#000000;
  border:#111 solid 3px;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  overflow-x:auto;
}

.table-div-scrollable {
  margin-top:-23px; 
  height:300px; 
  overflow:auto; 
  background:#ccc;
  border:3px solid #333;
  border-collapse: collapse;
}

.table-scrollable table{
  border:solid 0px;
}

table th {
  text-align: center;
}

.table-body {
  height: 200px;
  overflow-y:auto;
}

.green {
  color: #229922
}

.modal-outer {
  position: absolute; 
  margin-left:12.5%; 
  top:10%; 
  width:50%;
  height:67%;
  max-height:700px;
  background:#555; 
  z-index:1; 
  border:solid 0px; 
  border-radius:20px
}

.modal-inner {
  margin:2%; 
  width:96%; 
  height:95%;
  background:#e0e0e0; 
  border:solid 0px; 
  border-radius:20px
}

.modal-header {
  background:#808080;
  border:inherit;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  font-size: 18pt;
  text-align: left;
  border-bottom: solid 1px #333

}

.modal-body {
  
}

.table-link tr:hover {
  background-color:#aaa !important;
  cursor: pointer
}
.modal-footer {
  width:80%;
  margin-right:10%;
  position:absolute;
  bottom:10px;
  right:0;
  border-top: solid 1px #808080

}

.card-margin {
  margin:5px
}

.card {
  background:white; 
  box-shadow:10px 10px 5px #888888
}